// fonts
$font-main: 'Jersey 25', sans-serif;
$font-secondary: 'Pixelify Sans', sans-serif;

// colors
$color-bg: #7c9ae0;
$color-primary: #c3485f;
$color-secondary: #fad3e2;
$color-tertiary: #c7d8ff;
