<main class="mainGame">
    <div class="tamagotchi">
        <label for="selectCat">Choose your cat:</label>
        <select name="selectCat" id="">
            <option value="cat1">Blue</option>
            <option value="cat2">Red</option>
            <option value="cat3">Pink</option>
        </select>
    </div>

    <div class="container">
        <p> Mood: </p>
        <img class="imgCat" src="./images/cat.png" alt="">

        <div class="bubble-detail2"></div>
        <div class="bubble-detail"></div>
        <div class="bubble">
            <p class="text">Hola soy un texto</p>
        </div>
    </div>

    <p>caja acciones</p>
    <div class="container">
        <img class="imgAction" src="./images/food.png" alt="">
        <img class="imgAction" src="./images/toy.png" alt="">
        <img class="imgAction" src="./images/sleep.png" alt="">
    </div>
</main>