<main>
	<div class="landing__container">
		<h3 class="landing__text">
		  <span class="typewriter typewriter--hello">Hello!</span><br>
		  <span class="typewriter typewriter--desc delay-1">
			I am your virtual pet that keeps you company
		  </span><br>
		  <span class="typewriter typewriter--desc delay-2">
			and on track while you work from home.
		  </span>
		</h3>
	  </div>
	  
	<div class="landing__btn">
		<a href="../game.html"><button class="landing__btn-play">Play</button></a>
	</div>
</main>
